<h1 style="display: none;">Intro text</h1>
<div class="card-deck">
  <div class="card">
    <img width="150px" height="250px" class="card-img-top" src="../../assets/Arnold.jpg" alt="Card image">
    <div class="card-body text-center">
      <marquee direction="up">
        <h5>
          <p class="card-text">“The last three or four reps is what makes the muscle grow. This area of pain divides a
            champion from someone who is not a champion.”</p>
        </h5>
      </marquee>
      <h6><strong>— Arnold Schwarzenegger, seven-time Mr. Olympia</strong></h6>
    </div>
  </div>
  <div class="card">
    <img width="150px" height="250px" class="card-img-top" src="../../assets/Thomas.jpg" alt="Card image">
    <div class="card-body text-center">
      <marquee direction="up">
        <h5>
          <p class="card-text">“If you want something you’ve never had, you must be willing to do something you’ve never
            done.”</p>
        </h5>
      </marquee>
      <h6><strong>— Thomas Jefferson, Third President of the United States</strong></h6>

    </div>
  </div>
  <div class="card">
    <img width="150px" height="250px" class="card-img-top" src="../../assets/Abraham.jpg" alt="Card image">
    <div class="card-body text-center">
      <marquee direction="up">
        <h5>
          <p class="card-text"> “Things may come to those who wait, but only the things left by those who hustle.”</p>
        </h5>
      </marquee>
      <h6><strong>– Abraham Lincoln, 16th President of the United States</strong></h6>
    </div>
  </div>

</div>
<br />

<div>
  <button (click)="navpage()" class="btn btn-dark btn-block">Apply For Trainer</button>
</div>